<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Default Title{% endblock %}</title>
        <script>
            function getWeight(input) {
                let total = 0;
                const criterias = document.querySelectorAll('.crit');
                criterias.forEach(crit => {
                    total += crit.total_score;
                });
                return (input / total) * 100;
            }
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>